:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.CURD {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  cursor: pointer;
  color: hsl(205deg, 25%, 23%);
  padding: 10px 20px;
  border-radius: 8px;
  outline: none;
  border: 1px solid black;
  background: var(--gradient-secondary);
  margin: 20px;
}
.btn:active {
  background-color: var(--color-primary);
  transform: scale(0.99);
}
.table-wrapper {
  width: 80%;
}
table {
  color: hsl(205deg, 25%, 23%);
  width: 100%;
}
.header {
  background: var(--gradient-primary);
  background-color: #39b385;
}
tr {
  text-align: center;
  height: 40px;
}
td,
th {
  border: 1px solid hsl(205deg, 25%, 23%);
  border-radius: 8px;
}
.modal--createProduct {
  transition: 1s;
  /* display: none; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(227, 255, 188, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.createProduct {
  box-sizing: content-box;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  color: black;
  background-color: white;
  border: 2px solid #39b385;
}
.input--wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 6px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input--wrapper label {
  font-size: 1.2rem;
}
.input--wrapper input {
  font-size: 0.9rem;
  padding: 8px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--color-primary-darker);
}
.input--wrapper textarea {
  font-size: 0.9rem;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--color-primary-darker);
}
input:focus {
  outline-color: var(--color-secondary-darker);
}
textarea:focus {
  outline-color: var(--color-secondary-darker);
}
.cancle,
.delete {
  background: none;
  background-color: #ff585f;
}
.cancle:active {
  background-color: #fd424b;
}
.submit {
  background: var(--gradient-primary);
}
.view {
  margin: 1px;
  background: var(--gradient-primary);
}
.edit {
  margin: 1px;
  background: var(--gradient-secondary);
}
.delete {
  margin: 1px;
}
.accessibility {
  padding: 3px;
  width: 28%;
}
.sortable {
  cursor: pointer;
}
.productId {
  width: 8%;
}
.productName {
  width: 17%;
}
.price {
  width: 10%;
}
.description {
  width: 20%;
}
.capitalize {
  text-transform: capitalize;
}
.filter {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 10px;
}
.filterById div,
.filterByName div {
  color: hsl(205deg, 25%, 23%);
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
}
#selectId,
#search {
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 35px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
#product--img {
  border: 2px solid var(--color-secondary-darker);
  border-radius: 5px;
  width: 160px;
  height: 160px;
}
