:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CURD{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
    background-color: var(--color-primary-opacity);
    margin: 20px;
}
.btn:active{
    background-color: var(--color-primary);
    transform: scale(0.99);
}
.table-wrapper{
    width: 80%;
}
table{
    width: 100%;
    /* border: 1px solid black; */
    /* border-collapse: collapse; */
    /* border-radius: 40px; */
}
tr:first-child{
    background-color: #39b385;
    /* border-radius: 30px; */
}
tr{
    text-align: center;
    height: 40px;
    /* border-radius: 30px; */
}
th{
    border: 1px solid black;
    /* border-radius: 30px; */
}
td,th{
    border: 1px solid black;
    border-radius: 15px;
}